.bg-zigzag{
    background-color: #ffffff;
    background-image:  linear-gradient(rgba(231,231,231,1) 1px, transparent 1px), linear-gradient(to right, rgba(231,231,231,1) 1px, #ffffff 1px);
    background-size: 20px 20px;
}

.bg-zigzag-dark{
    background-color: #222831;
    background-image:  linear-gradient(rgba(79, 79, 98, 1) 1px, transparent 1px), linear-gradient(to right, rgba(79, 79, 98, 1) 1px, #222831 1px);
    background-size: 20px 20px;
}


